body {
    background-color: #66CCFF;
    font-family: arial;
    font-size: 15px;
}
p {
    background-color: white;
    color: #484848;
    padding: 5px;
    border-radius: 3px;
}
.HeaderTitle {
    font-family: courier;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF8484;
    padding: 5px;
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
}
.HeaderTitle:hover {
    font-size: 25px;
    color: black;
    background-color: #FFFF9E;
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
}
.HeaderTitle:hover:after {
    content: "[made by DinosuarAnon, 2015]";
}
.note {
    background-color: #ADFFAA;
    padding: 5px;
}
